.background {
  background-image: url("../../../public/imgs/geobarents.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 10rem;
}

.backgroundClip {
  clip-path: polygon(100% 0, 0 0, 0 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.55);
}

.login__window {
  position: relative;
  background-color: white;
  border-radius: 5px;
  z-index: 9000 !important;
  width: 30%;
  margin-left: 10rem;
  padding: 3rem;
}

.label {
  padding-bottom: 0.8rem;
  padding-top: 1rem;
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

.editInput {
  width: 96%;
  border: 0px;
  border-bottom: 1px solid black;
  height: 2rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.editTextArea {
  width: 96%;
  border: 0px;
  border-bottom: 1px solid black;
  height: 2rem;
  font-size: 1.5rem;
  padding-bottom: 10.5rem;
}

.editTextArea:focus {
  outline: none;
  border-bottom: 1px solid #ee0b19;
}

.editInput:focus {
  outline: none;
  border-bottom: 1px solid #ee0b19;
}

.saveButton {
  background-color: #ee0b19;
  color: white;
  border: none;
  height: 30px;
  width: 20%;
  margin-top: 2rem;
}

.saveButton:hover {
  box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.main {
  background-color: white;
  height: 100vh;
}

.mainBody {
  display: flex;
  padding-top: 100px;
}

.content {
  padding-left: 4rem;
  width: 100%;
}
