.label {
  padding-bottom: 0.8rem;
  padding-top: 1rem;
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

.editInput {
  width: 96%;
  border: 0px;
  border-bottom: 1px solid black;
  height: 2rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.editInput:focus {
  outline: none;
  border-bottom: 1px solid #ee0b19;
}

.required {
  color: red;
  padding-top: 0.5rem;
}

.requiredInput {
  outline: none;
  border-bottom: 1px solid #ee0b19;
}
