.label {
  padding-bottom: 0.8rem;
  padding-top: 1rem;
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

.editTextArea {
  width: 96%;
  border: 0px;
  border-bottom: 1px solid black;
  height: 2rem;
  font-size: 1.5rem;
  padding-bottom: 10.5rem;
}

.editTextArea:focus {
  outline: none;
  border-bottom: 1px solid #ee0b19;
}
